.app {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-style: normal;
  color: #fff;
  letter-spacing: 0.005em;
}

.workLogoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading,
.error {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workLogo {
  height: 100px;
}

.reports {
  list-style: none;
  padding: 0;
}

.report {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.reportTitle {
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: 0;
  font-family: Poppins;
  color: #fff;
}

.reportTable {
  width: 60%;
  border-collapse: collapse;
  margin-top: 20px;
}

.reportTable tbody td {
  border: 1px solid rgb(43 76 74);
  padding: 20px;
}

@media screen and (max-width: 420px) {
  .reportTable tbody td {
    padding: 6px;
  }
}

.reportTable tr:first-child td {
  border-top: none;
}

.reportTable tr:last-child td {
  border-bottom: none;
}

.reportTable tr td:first-child {
  border-left: none;
}

.reportTable tr td:last-child {
  border-right: none;
}

.reportTable thead tr {
  font-weight: 900;
  color: rgb(255, 255, 0);
  text-transform: uppercase;
  text-align: center;
}
.reportTable thead td {
  /* rotate text -10 deg */
  transform: translate(0, 0) rotate(-10deg) skew(0) skewY(0) scaleX(1) scaleY(1);
}

.teamLogo {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat center center;
  background-size: 100% 100%;
  padding: 10px;
}

.teamGreen {
  background-image: url("assets/team-green.svg");
}

.teamOrange {
  background-image: url("assets/team-orange.svg");
}

.teamRed {
  background-image: url("assets/team-red.svg");
}

.teamBlue {
  background-image: url("assets/team-blue.svg");
}
