@font-face {
  font-family: Poppins;
  src: url("./assets/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Poppins;
  src: url("./assets/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
}

main {
  background: linear-gradient(190deg, #1c4742 -4.22%, #0c1c1a 100%);
}
