@font-face {
  font-family: Poppins;
  src: url("./assets/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Poppins;
  src: url("./assets/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
}

body {
  margin: 0;
  padding: 0;
}

main {
  background: linear-gradient(190deg, #1c4742 -4.22%, #0c1c1a 100%);
  padding-top: 20px;
  padding-bottom: 100px;
  min-height: 100vh;
  color: #fff;
  position: relative;
}

.wp-block-heading,
.wp-block-post-title {
  font-family: Poppins;
  font-weight: bold;
  color: #fff;
}
